<!DOCTYPE html>
<html>
    <head>
        <title>Plivo Web Messaging App</title>
    </head>
    <body>
        <h1>Welcome to the Plivo Messaging App</h1>
        <p></p>
        <p></p>
        <h1>Send a message</h1>
        <!-- Messaging Form Below -->
    <form method="POST" action="/message">
    
    <p>From(Plivo Number): <input type="number" name="from" value="15123573067"></p>
    <p>To (Your Number): <input type="number" name="to" value="1"></p>
    <p>Message: <input type="text" name="message"></p>

    <input type="submit">
    </form>
    </body>
</html>