<!DOCTYPE html>
<html>
    <head>
        <title>Received Messages</title>
    </head>
    <body>
        <h1>You just received a message</h1>
        <p>From: <%= @from %> </p>
        <p>To: <%= @to %> </p>
        <p>Message: <%= @text %> </p>

    </body>
</html>